/* header style */

.hd {
	top: 0;
	width: 100%;
	min-width: 700px;
	height: 70px;
	display: block;
	background: #000;
	z-index: 23;
	white-space: nowrap;
	overflow: hidden;
}

/* footer style */

.ft {
	width: 100%;
	min-width: 700px;
	height: 39px;
	display: block;
}