/* base styles */

body {
	color: White;
	font-family: 'Istok Web', sans-serif;
}

nav {
	margin-top: 28px;
	letter-spacing: .1em;
	text-transform: uppercase;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color: White;
}