// BRAND COLORS

$c-facebook:#3b5998;
$c-flickr-blue:#0063dc;
$c-flickr-pink:#ff0084;
$c-foursquare:#25a0ca;
$c-github:#171515;
$c-google:#db4437;
$c-google-plus:#dd4b39;
$c-instagram:#3f729b;
$c-linkedin:#0e76a8;
$c-reddit-grey:#cee2f8;
$c-reddit-orange:#ff4500;
$c-rss:#ee802f;
$c-skype:#00aff0;
$c-smashing:#f0503a;
$c-twitter:#55acee;
$c-vimeo:#44bbff;
$c-yahoo:#720e9e;
$c-yelp:#c41200;
$c-youtube:#c4302b;

// SITE COLORS
