// FONTS

@font-face {
	font-family: 'm_1clight';
	src: url('../fonts/mplus-1c-light-webfont.eot');
	src: url('../fonts/mplus-1c-light-webfont.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/mplus-1c-light-webfont.woff') format('woff'),
	       url('../fonts/mplus-1c-light-webfont.ttf') format('truetype'),
	       url('../fonts/mplus-1c-light-webfont.svg#m_1clight') format('svg');
	font-weight: normal;
	font-style: normal;
}

// FONT WEGHTS

$light: 100;
$regular: 400;
$bold: 600;